/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"); */

.height {
    height: auto;
}


.card {
    width: 380px;
    border: none;

}

.form-control {

    border: 2px solid #bdc1d2;
    height: 48px;

}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #FFC107;
    outline: 0;
    box-shadow: none;
}


.form {

    position: relative;
    margin-bottom: 25px;

}


.form textarea {

    height: 100px;
    resize: none;

}

.form a {

    position: absolute;
    right: 8px;
    bottom: 10px;
    color: #6ca0d6;
    text-decoration: none;
    z-index: 10;
    background-color: #fff;
    padding: 5px;

}

.send {

    height: 46px;
}