@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #D32F2F;
    overflow-x: hidden;
    font-weight: 600;
    font-family: 'Calibri', sans-serif !important
}