{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block links %}
<link rel="stylesheet" href="{% static 'css/create-room.css' %}">
{% endblock links %}


{% block content %}

<div class="container d-flex justify-content-center align-items-center height mt-5">
    <div class="card py-3">
       <div class="p-3 d-flex align-items-center justify-content-center">
          <h4>Register</h4>
       </div>
       <form action="" method="post">
        {% csrf_token %}
         <div class="p-3 px-4 py-2">

                 {% if form.errors %}
                     {% for field in form %}
                        {% for error in field.errors %}
                           <div class="alert alert-danger p-2">
                              <strong>{{error|escape}}</strong>
                           </div>
                        {% endfor %}
                     {% endfor %}
                 {% endif %} 

                  <div class="mb-3">
                    <label for="{{ form.username.id }}" class="form-label">Username:</label>
                    {% render_field form.username placeholder=form.username.label class+="form-control" %}
                 </div>
                 <div class="mb-3">
                    <label for="{{ form.email.id }}" class="form-label">Email:</label>
                    {% render_field form.email placeholder=form.email.label class+="form-control" %}
                 </div>
                 <div class="mb-3">
                    <label for="{{ form.password1.id }}" class="form-label">Password:</label>
                    {% render_field form.password1 placeholder=form.password1.label class+="form-control" %}
                 </div>
                 <div class="mb-3">
                    <label for="{{ form.password2.id }}" class="form-label">Confirm Password:</label>
                    {% render_field form.password2 placeholder=form.password2.label class+="form-control" %}
                 </div> 
                 <div class="mb-3">
                     Have a account? <a href="{% url 'login' %}">Sign-In Here.<s/a> 
                 </div>
              <div class="text-right">
                 <button class="btn btn-warning btn-block send w-100" type="submit">Sign Up</button>
              </div>
            </form>
         </div>
       </form>
    </div>
  </div>
</div>

{% endblock content %}